body{
    font-family: cursive;
    background-color:azure;
    font-size: 35px;
    color:  rgb(240, 96, 120);

}
table,tr,th{
    border: 3px solid pink;
    height: 100px;
    width: 50%;
    
}
table{
    margin-left: 25%;
}
.picInsert{
    height: 300px;
}
img{
    width: 200px;
}
button{
    border-radius: 40%;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: aqua;
}
button:hover{
    background-color: pink;
    transition: .1s;
    cursor: pointer;
}